.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%; }
  @media (min-width: 36em) {
    .container {
      max-width: 540px; } }
  @media (min-width: 48em) {
    .container {
      max-width: 720px; } }
  @media (min-width: 62em) {
    .container {
      max-width: 960px; } }
  @media (min-width: 75em) {
    .container {
      max-width: 1140px; } }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }
