/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%; }
  @media (min-width: 36em) {
    .container {
      max-width: 540px; } }
  @media (min-width: 48em) {
    .container {
      max-width: 720px; } }
  @media (min-width: 62em) {
    .container {
      max-width: 960px; } }
  @media (min-width: 75em) {
    .container {
      max-width: 1140px; } }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }
