/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%; }
  @media (min-width: 36em) {
    .container {
      max-width: 540px; } }
  @media (min-width: 48em) {
    .container {
      max-width: 720px; } }
  @media (min-width: 62em) {
    .container {
      max-width: 960px; } }
  @media (min-width: 75em) {
    .container {
      max-width: 1140px; } }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto";
  padding-bottom: 15vh; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0; }
  header nav ul {
    display: flex; }
    header nav ul li {
      margin: 0 30.5px; }
      header nav ul li a {
        text-decoration: none;
        color: #16133D;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px; }

hr {
  background-color: #EFEEF3;
  height: 1px;
  border: 0;
  margin: 0; }

button {
  border-radius: 8px;
  border: 2px solid #16133D;
  font-weight: 500;
  padding: 15px 35px;
  cursor: pointer; }
  button.primary {
    background-color: #16133D;
    color: white; }
  button.secondary {
    background-color: white;
    color: #16133D; }

.actions button:first-child {
  margin-right: 18px; }

.banner {
  display: flex;
  margin-top: 45px; }
  .banner__half {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .banner__half h1 {
      width: 477px;
      height: 204px;
      position: relative;
      font-weight: 600;
      font-size: 56px;
      line-height: 68px;
      letter-spacing: 0.2px;
      color: #16133D; }
    .banner__half span {
      position: relative;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 19px;
      font-weight: 400;
      line-height: 36px; }
    .banner__half-actions button {
      border-color: #007FFC; }
      .banner__half-actions button.primary {
        background-color: #007FFC;
        color: white; }
      .banner__half-actions button.secondary {
        background-color: white;
        color: #007FFC; }
    .banner__half-actions button:first-child {
      margin-right: 20px; }
  .banner__slider {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.experience {
  margin-top: 200px; }
  .experience span {
    color: #7690A8;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 17px;
    display: inline-block; }
  .experience h3 {
    font-size: 40px;
    margin-bottom: 6px;
    line-height: 28px; }
  .experience p {
    font-size: 18px;
    line-height: 28px; }
  .experience__cards {
    display: flex;
    gap: 45px;
    margin-top: 60px; }
    .experience__cards .card {
      padding: 41px;
      border-radius: 8px;
      border: 1px solid #EFEEF3; }
      .experience__cards .card__icon {
        width: 64px;
        height: 64px;
        padding: 16px;
        border: 1px solid #EFEEF3;
        border-radius: 26px; }
        .experience__cards .card__icon img {
          width: 100%;
          max-height: 100%; }
      .experience__cards .card__title {
        font-size: 24px;
        line-height: 21px;
        margin-top: 28px;
        margin-bottom: 14px; }
      .experience__cards .card p {
        font-size: 16px;
        line-height: 28px; }
      .experience__cards .card a {
        margin-top: 29px;
        font-size: 16px;
        display: inline-block;
        line-height: 18px;
        color: black;
        text-decoration: none; }
