@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Roboto-Regular.ttf) format('truetype');  
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Roboto-bold.ttf) format('truetype');  
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:$font-primary ;
    src: url(../assets/fonts/Roboto-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
