@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "fonts";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    padding-bottom: 15vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;

    nav ul {
        display: flex;

        li {
            margin: 0 30.5px;

            a {
                text-decoration: none;
                color: $darkBlue;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
            }
        }
    }
}

hr {
    background-color: $ligthGray;
    height: 1px;
    border: 0;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 2px solid $darkBlue;
    font-weight: 500;
    padding: 15px 35px;
    cursor: pointer;

    &.primary {
        background-color: $darkBlue;
        color: white;
    }

    &.secondary {
        background-color: white;
        color: $darkBlue;
    }
}

.actions {
    button:first-child {
        margin-right: 18px;
    }
}

.banner {
    display: flex;
    margin-top: 45px;

    &__half {
        width: 50%;
        display: flex;
        flex-direction: column;

        h1 {
            width: 477px;
            height: 204px;
            position: relative;
            font-weight: 600;
            font-size: 56px;
            line-height: 68px;
            letter-spacing: 0.2px;
            color: $darkBlue;
        }

        span {
            position: relative;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 19px;
            font-weight: 400;
            line-height: 36px;
        }

        &-actions {
            button {
                border-color: $blue;

                &.primary {
                    background-color: $blue;
                    color: white;
                }

                &.secondary {
                    background-color: white;
                    color: $blue;
                }
            }

            button:first-child {
                margin-right: 20px;
            }
        }
    }

    &__slider {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.experience {
    margin-top: 200px;

    span {
        color: $darkGray;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 17px;
        display: inline-block;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 6px;
        line-height: 28px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    &__cards {
        display: flex;
        gap: 45px;
        margin-top: 60px;

        .card {
            padding: 41px;
            border-radius: 8px;
            border: 1px solid $ligthGray;

            &__icon {
                width: 64px;
                height: 64px;
                padding: 16px;
                border: 1px solid $ligthGray;
                border-radius: 26px;

                img {
                    width: 100%;
                    max-height: 100%;
                }
            }

            &__title {
                font-size: 24px;
                line-height: 21px;
                margin-top: 28px;
                margin-bottom: 14px;
            }

            p {
                font-size: 16px;
                line-height: 28px;
            }

            a {
                margin-top: 29px;
                font-size: 16px;
                display: inline-block;
                line-height: 18px;
                color: black;
                text-decoration: none;
            }
        }
    }
}
