@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "fonts";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0;

    nav ul {
        display: flex;

        li {
            margin: 0 10px;

            a {
                text-decoration: none;
                color: $darkBlue;
                font-family: $font-primary;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}

hr {
    background-color: $ligthGray;
    height: 1px;
    border: 0;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 2px solid $darkBlue;
    font-weight: 500;
    padding: 15px 35px;

    &.primary {
        background-color: $darkBlue;
        color: white;
    }

    &.secondary {
        background-color: white;
        color: $darkBlue;
    }
}

.actions {
    button:first-child {
        margin-right: 18px;
    }
}
